*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo h2{
    font-size: 45px;
    font-weight:900 ;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

nav .manu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}